---
export const prerender = true
import Layout from "@/layouts/base-layout.astro";
---

<Layout>
    <section class="flex flex-col gap-4 max-w-6xl px-10">
       500 error page
    </section>
</Layout>