---
import Nav from "@/components/Nav.astro";
import TitleSection from "@/components/TitleSection.astro";
import Layout from "@/layouts/Layout.astro";
import GalleryView from "@/react/Gallery";

export const prerender = true;
---

<Layout title="Galeria de fotos">
    <Nav />
    <TitleSection
        title="Galeria de Fotos"
        description="Imágenes de nuestros talleres, eventos y actividades comunitarias."
    />
    <section class="pb-40">
        <GalleryView client:load />
    </section>
</Layout>
