---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<header>
		<p>logo</p>
		<nav>
			<a>Quienes Somos</a>
			<a>Proyectos</a>
			<a>Numeros!!</a>
			<a>Nuestro Trabajo</a>
			<a>Testimonios</a>
			<a>Equipo</a>
			<a>Blog</a>
			<a>Contact</a>
		</nav>
	</header>
</Layout>
