---
export const prerender = true
import Layout from '@/layouts/base-layout.astro';
---
<Layout>
	<header class="w-full h-24">
		<p class="">logo</p>
		<nav >
			<button>
				close
			</button>
			<a>Quienes Somos</a>
			<a>Proyectos</a>
			<a>Numeros!!</a>
			<a>Nuestro Trabajo</a>
			<a>Testimonios</a>
			<a>Equipo</a>
			<a>Blog</a>
			<a>Contact</a>
		</nav>
	</header>
	<section>
		Hero
	</section>
	<section>
		About
	</section>
	<section>
		Projects
	</section>
	<section>
		Numbers
	</section>
	<section>
		Nuestro Trabajo (Galeria)
	</section>
	<section>
		Testimonios
	</section>
	<section>
		Equipo
	</section>
	<section>
		Blog
	</section>
	<section>
		Contact
	</section>
	<footer>
		footer
	</footer>
</Layout>


<script>
	
</script>