---
import Contact from "@/components/Contact.astro";
import Team from "@/components/Team.astro";
import Numbers from "@/components/Numbers.astro";
import Work from "@/components/Work.astro";

import Layout from "@/layouts/Layout.astro";
import About from "@/components/About.astro";
import Hero from "@/components/Hero.astro";
import LatestEntities from "@/components/LatestEntities.astro";
import Skeleton from "@/components/Skeleton.astro";
import Docs from "@/components/Docs.astro";

export const prerender = true;
---

<Layout>
	<Hero />
	<About />
	<section class="px-8 bg-gradient-to-b pt-20 pb-10" id="projects">
		<h2
			class="text-5xl md:text-6xl font-montserrat font-bold text-black mb-12 text-center"
		>
			Últimos Proyectos
		</h2>
		<LatestEntities
			server:defer
			entity="project"
			link="/projects"
			text="Ver todos"
		>
			<Skeleton slot="fallback" />
		</LatestEntities>
	</section>
	<Work />
	<section class="px-8 bg-gradient-to-b pt-20 pb-10" id="blog">
		<h2
			class="text-5xl md:text-6xl font-montserrat font-bold text-black mb-12 text-center"
		>
			Últimas publicaciones
		</h2>
		<LatestEntities server:defer entity="blog" link="/blog" text="Ver todos">
			<Skeleton slot="fallback" />
		</LatestEntities>
	</section>

	<Numbers />
	<Team />
	<Docs />
	<Contact />

</Layout>
