<section class="py-40 px-8 relative">
    <div class="max-w-7xl mx-auto">
        <div>
            <h2
                class="text-5xl md:text-6xl font-montserrat font-bold text-black mb-12 text-center"
            >
                Sobre Nosotros
            </h2>
            <p
                class="text-xl text-balance text-center md:text-lg leading-[180%] text-slate-600"
            >
                Manglaria es un colectivo comprometido con la transformación
                social desde una cultura de solidaridad, cuidado y esperanza.
                Trabajamos por la dignificación de la vida en Buenaventura a
                través del fortalecimiento de las capacidades culturales y
                comunitarias del territorio, promoviendo procesos que conectan
                la identidad ancestral con nuevas formas de desarrollo, sin
                perder las raíces.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-20">
            <article class="bg-primary-400/10 rounded-xl py-10 px-6">
                <h3
                    class="text-2xl font-montserrat font-bold text-primary-900 mb-4 text-center"
                >
                    Misión
                </h3>
                <p class="text-xl text-balance text-center md:text-lg leading-[180%] text-slate-600">
                    Contribuir a la construcción de una cultura solidaria y
                    transformadora mediante las artes, la innovación y proyectos
                    que mejoren las condiciones de vida en las comunidades,
                    promoviendo la paz, la sostenibilidad y el tejido social.
                </p>
            </article>
            <article class="bg-primary-400/10 rounded-xl py-10 px-6">
                <h3
                    class="text-2xl font-montserrat font-bold text-primary-900 mb-4 text-center"
                >
                    Visión
                </h3>
                <p class="text-xl text-balance text-center md:text-lg leading-[180%] text-slate-600">
                    En cinco años, seremos un referente en el desarrollo
                    integral de comunidades en contextos de vulnerabilidad,
                    fortaleciendo sus capacidades desde la cultura, la
                    solidaridad y el respeto por las tradiciones, para impulsar
                    cambios duraderos basados en la equidad y el bienestar
                    colectivo.
                </p>
            </article>
        </div>
    </div>
    <div
        class="size-[250px] md:size-[500px] absolute top-0 right-0 bg-primary-500/10 blur-3xl"
    >
    </div>
    <div
        class="size-[250px] md:size-[500px] absolute bottom-0 left-0 bg-secondary-600/10 blur-3xl -z-10"
    >
    </div>
</section>
