---
import WaveIcon from "@/assets/icons/wave.svg";
---
<section id="home" class="min-h-screen w-full px-4 bg-[url('/images/hero2.webp')] flex flex-col items-center justify-center">
    <div class="relative z-10 max-w-2xl">
        <h1
            class="text-5xl sm:text-6xl text-secondary-600 mb-10 md:text-8xl font-montserrat font-bold text-center text-balance"
        >
            Corporación Manglaria
        </h1>
        <p
            class="text-xl text-center text-balance text-secondary-500/80 leading-[180%]"
        >
            "Tejemos redes de esperanza en Buenaventura, transformando
            vidas desde la cultura, el cuidado y la identidad. Creemos
            en una comunidad que se cuida, se reconoce y se levanta
            unida. Somos Manglaria: territorio, memoria y futuro."
        </p>
    </div>
    <div class="w-full h-full absolute top-0 inset-x-0 bg-primary-900/80" />
    <WaveIcon class="absolute h-40 w-full -bottom-1 inset-x-0" />
</section>