---
import { APP_LINKS } from "@/consts/links";
import MobileMenu from "./MobileMenu.astro";
import MenuIcon from "@/assets/icons/menu.svg";
import CircleLogo from "@/assets/icons/circle-logo.svg";
---

<header
    class="h-20 flex justify-between items-center w-full relative z-50 px-8 border-b border-b-slate-100"
>
    <a href="/" class="flex items-center gap-2">
        <CircleLogo class="size-12" />
        <span
            class="text-primary-900 text-2xl font-bold hidden lg:inline-block"
        >
            Manglaria
        </span>
    </a>
    <nav class="hidden md:flex gap-4 justify-center">
        {
            APP_LINKS.map(({ text, hash }: any) => (
                <a
                    href={hash}
                    class="text-primary-900 links text-base hover:text-primary-950 hover:underline"
                >
                    {text}
                </a>
            ))
        }
    </nav>
    <MobileMenu class="md:hidden" links={APP_LINKS}>
        <MenuIcon class="fill-primary-900 stroke-primary-900 size-10" />
    </MobileMenu>
</header>
