---
import { LANDING_LINKS } from "@/consts/links";
import MobileMenu from "./MobileMenu.astro";
import MenuIcon from "@/assets/icons/menu.svg";
---

<header class="h-20 flex justify-end items-center w-full relative z-50 px-8">
    <nav class="hidden md:flex items-center gap-4  w-full justify-center">
        {
            LANDING_LINKS.map(({ text, hash }: any) => (
                <a
                    href={hash}
                    class="text-white/90 links text-base hover:text-white hover:underline"
                >
                    {text}
                </a>
            ))
        }
    </nav>
    <MobileMenu class="md:hidden" links={LANDING_LINKS}>
        <MenuIcon class="fill-white stroke-white size-10" />
    </MobileMenu>
</header>
