---
const { title, description } = Astro.props;
---

<div class="px-4">
    <h2
    class="text-5xl mt-10 md:text-6xl font-montserrat font-bold text-black text-center mb-2"
>
    {title}
</h2>
<p
    class="text-lg mb-4 text-balance text-center md:text-xl leading-[180%] text-slate-600"
>
    {description}
</p>
</div>
