---
import { actions } from "astro:actions";
import Layout from "@/layouts/app-layout.astro";
import Pagination from "@/components/ui/pagination.astro";
import InputSearch from "@/components/ui/input-search.astro";
import { formatDate } from "@/utils/dates";

const url = Astro.url;
const page = url.searchParams.get("page") ?? "1";
const search = url.searchParams.get("search") ?? "";

const { data, error } = await Astro.callAction(actions.getEntitiesPaginate, {
    contentType: "project",
    page,
    search,
});

if (error) return Astro.redirect("/500");

const showPagination = data.pagination.totalPages > 1;
---

<Layout title="Nuestro Blog">
    <div class="px-6 md:px-10">
        <h1
            class="text-center pt-14 text-primary-text text-5xl font-bold mb-5 text-secondary-text dark:text-white"
        >
            Manglaria <span
                class="bg-gradient-to-r from-amber-700 to-secondary-indigo bg-clip-text text-transparent"
                >Proyectos</span
            >
        </h1>
        <p
            class="text-center text-md font-normal max-w-xl mx-auto text-balance"
        >
            our blogs are written from very research research and well known
            writers writers so that we can provide you the best blogs and
            articles articles for you to read them all along
        </p>
    </div>
    <InputSearch class="focus:border-amber-700 focus:outline-amber-700" />
    <section class="section text-primary-text mt-10 flex flex-col gap-6">
        {
            data?.entities.map(({ title, description, createdAt, slug }) => {
                return (
                    <a
                        href={`/projects/${slug}`}
                        class="flex flex-col md:flex-row gap-3 md:gap-6 items-end transition-colors duration-300 hover:bg-broom-600/10 dark:hover:bg-broom-900/30 px-4 py-2 rounded-lg"
                    >
                        <div class="w-full md:max-w-[350px]">
                            <h3 class="text-secondary-text dark:text-white text-xl font-semibold line-clamp-1">
                                {title}
                            </h3>
                            <p class="line-clamp-2 text-sm font-light">
                                {description}
                            </p>
                        </div>
                        <div class="flex-1 flex items-center gap-6">
                            <span class="hidden md:block md:w-full flex-1 border-t border-dashed border-secondary-dark-text/70" />
                            <div class="w-full md:w-fit">
                                <span class="text-sm font-light">
                                    {formatDate(createdAt)}
                                </span>
                            </div>
                        </div>
                    </a>
                );
            })
        }
    </section>

    {
        showPagination && (
            <Pagination
                pages={data.pagination.totalPages ?? 1}
                class="hover:bg-broom-600/15 dark:hover:bg-broom-900/30"
            />
        )
    }
</Layout>
