---
import "@fontsource-variable/league-spartan";
import "@fontsource/poppins";
import "@fontsource-variable/montserrat";

const {
	title, description
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<meta name="keywords" content="Buenaventura, colectivo, niñez, migración, entornos protectores, derechos humanos, cultura, territorio">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://www.corporacionmanglaria.org/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Corporación Manglaria">
		<meta property="og:description" content="Colectivo comunitario de Buenaventura que impulsa procesos sociales y culturales para transformar el territorio desde el cuidado, la solidaridad y los derechos humanos.">
		<meta property="og:image" content="">
		<meta property="og:site_name" content="Corporación Manglaria">
		<meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="corporacionmanglaria.org">
		<meta property="twitter:url" content="https://www.corporacionmanglaria.org/">
		<meta name="twitter:title" content="Corporación Manglaria">
		<meta name="twitter:description" content="Colectivo comunitario de Buenaventura que impulsa procesos sociales y culturales para transformar el territorio desde el cuidado, la solidaridad y los derechos humanos.">
		<meta name="twitter:image" content="">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
