---
const { pages } = Astro.props;

const url = Astro.url;
const pageParam = Number(url.searchParams.get("page") ?? 1);

const currentPage = Math.max(pageParam > pages ? pages : pageParam, 1);

const path = url.pathname;
---

<section class="flex justify-between mt-10 mb-20">
    <a
        href={`${path}?page=${Math.max(currentPage - 1, 1)}`}
        class="flex gap-2 items-center cursor-pointer"
        id="prev"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevron-left"
            ><path d="m15 18-6-6 6-6"></path></svg
        >
        Anterior
    </a>
    <div>
        {currentPage} de {pages}
    </div>
    <a
        href={`${path}?page=${Math.min(currentPage + 1, pages)}`}
        class="flex gap-2 items-center cursor-pointer"
        id="next"
    >
        Siguiente
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevron-right"
            ><path d="m9 18 6-6-6-6"></path></svg
        >
    </a>
</section>